.round-pink1, .round-pink2, .round-pink3 {
	border-radius: 10px;
	background: #e6e5e2;	
	box-shadow: 0 -1px 1px #c0bfbc inset;
}

.round-pink1 div, .round-pink2 div, .round-pink3 div {
	border-radius: 9px;
	box-shadow: 0 2px 2px #333;	
	background-color: #ff00f0;
}
.round-pink1 div{
	background: -webkit-linear-gradient(top, #ff00f0, #a3039a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66C285), to(#002E0F)); 
	background: -moz-linear-gradient(top, #ff00f0, #a3039a); 
	background: -ms-linear-gradient(top, #ff00f0, #a3039a); 
	background: -o-linear-gradient(top, #ff00f0, #a3039a);	
}

 .round-pink2 div {
	background: -webkit-linear-gradient(top, #FFFF00, #1A1A00);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFF00), to(#1A1A00)); 
}

.round-pink3 div {
	background: -webkit-linear-gradient(top, #FF3030, #4C0000);
	background: -webkit-gradient(ease, 0% 0%, 0% 100%, from(#FF3030), to(#4C0000)); 

}






#progressBar1, #progressBar2, #progressBar3{
        width: 250px;
        height: 18px;
        border: 1px solid #111;
        background-color: #292929;
}
 
#progressBar1 div, #progressBar2 div, #progressBar3 div{
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
}